%slides

  %slide.slide--title
    .slide-content
      .bottom
        %h1.mbf
          Thinking
          %b Modular CSS
        %p.mbf by Drew Barontini &mdash; @drewbarontini

  %slide.slide--video
    .middle.tac
      %iframe.mhc(width="640" height="480" src="//www.youtube.com/embed/7q89tdSjE-0" frameborder="0" allowfullscreen)

  %slide
    .slide-content
      .middle.tac
        %h2.h4
          Learn the "why" of modular CSS by analyzing the decisions that craft
          a flexible&nbsp;architecture.

  %slide.slide--light
    .slide-content
      .middle.tac
        = image_tag 'me-v1.svg', alt: 'Drew Barontini Cartoon'

  %slide.slide--fade(img="#{image_path('intro-office.jpg')}")
    .slide-content
      .middle.tac
        %p.mbf Front-end Developer
        %h1.h2.mbf Code School

  %slide
    .slide-content
      .middle.tac
        %p.mbf.tsxl
          %strong Code School
          is an online platform for learning web technologies.

  %slide.slide--fade(img="#{image_path('intro-cs-courses.png')}")
    .slide-content
      .middle.tac
        %h2.h3 Ruby, iOS, Design, JavaScript, Ember, Node, Angular, Dart

  %slide
    .slide-content
      .middle.tac
        %ul.lr.mbf.tsxl
          %li Front-end for the .com
          %li Our course engine
          %li Buildout of individual courses

  %slide.slide--fade.slide--fade--light(img="#{image_path('journey-journey.jpg')}")
    .slide-content
      .middle.tac
        %h1.mbf The Journey

  %slide.slide--contain.slide--dark(img="#{image_path('journey-band.jpg')}")

  %slide.slide--fade.slide--fade--light(img="#{image_path('journey-jt.png')}")
    .slide-content
      .middle.tac
        %h1 MySpace?

  %slide.slide--contain.slide--light(img="#{image_path('journey-tshirt.png')}")

  %slide.slide--fade.slide--fade--dark(img="#{image_path('journey-cs.jpg')}")
    .slide-content
      .middle.tac
        %h1 Computer Science

  %slide.slide--success
    .slide-content
      .middle.tac
        %h1.h2 Front-end Development

  %slide
    .slide-content
      .middle.tac
        %h2 It's a specialization.

  %slide(img="#{image_path('what-jesse.gif')}")

  %slide.slide--contain(img="#{image_path('css.gif')}")

  %slide
    .slide-content
      .middle.tac
        %h2.h3 Front-end Developer &amp; Designer

  %slide
    .slide-content
      .middle.tac
        %h2.h3
          Front-end Developer
          %span.tds &amp; Designer

  %slide(img="#{image_path('journey-excited.gif')}")

  %slide.slide--warning
    .slide-content
      .middle.tac
        %h2.h3.mbf Developers Respect Our CSS
        %p.mbf.tsl (mostly)

  %slide
    .slide-content
      .middle.tac
        %h2.h3.mbf
          HTML &amp; CSS are easy to write,
          %b but hard to write <em>well</em>.

  %slide
    .slide-content
      .middle.tac
        %h2.h3.mbf
          We're building complex
          %b <em>systems</em> now.

  %slide
    .slide-content
      .middle.tac
        %h2.h3.mbf
          Markup and styles
          %b working in unison.

  %slide
    .slide-content
      .middle.tac
        %h2.h3.mbf
          Ability for styles to flex and work in different <em>environments</em>.

  %slide.slide--title
    .slide-content
      .middle.tac
        %h1 Modular CSS

  %slide
    .slide-content
      .middle
        %blockquote
          "Modular design is an approach that subdivides a system into smaller
          parts that can be independently created and then used in different
          systems to drive multiple functionalities."

  %slide
    .slide-content
      .middle.tac
        %h2 tl;dr
        %ul.lr.tsl
          %li Smaller parts
          %li Independently created
          %li Used in different systems

  %slide.slide--success
    .slide-content
      .middle.tac
        %h2.h3.mbf
          Breaking your CSS down into <em>smaller chunks</em> will ultimately result in
          more <em>maintainable code</em>.

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .thumb {
              border-radius: 50%;
              display: block;
            }

  %slide
    .slide-content
      .middle.tac
        %h2.mbf
          A <em>small</em> set of styles that are easily extendable.

  %slide
    .slide-content
      .middle.tac
        %h1.mbf Single Responsibility Principle

  %slide
    .slide-content
      .middle
        %blockquote
          "The single responsibility principle states that every class should
          have a single responsibility, and that responsibility should be
          entirely encapsulated by the class."

  %slide.slide--light
    .slide-content
      .middle.middle--auto
        - code('css') do
          :plain
            .list {
              list-style-type: none;
              margin: 0;
              padding: 0;
            }

            .list-item {
              display: block;
              margin-bottom: 1em;
            }
            .list-item:last-child {
              margin-bottom: 0;
            }

  %slide
    .slide-content
      .middle.tac
        %h2.h2.mbf
          A list module that <em>only</em> handles text lists.

  %slide
    .slide-content
      .middle.tac
        %h2.h3.mbf
          "...<em>encapsulated</em> by the class."

  %slide
    .slide-content
      .middle.tac
        = image_tag 'encapsulation-header.png', alt: ''

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('html') do
          :plain
            <header class="header">
              <nav class="nav">
                <!--- ... --->
              </nav>
            </header>

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .nav {
              margin-top: 21px;
            }

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('html') do
          :plain
            <header class="header">
              <nav class="header-nav nav">
                <!--- ... --->
              </nav>
            </header>

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .header-nav {
              transform: translateY(-50%);
              position: relative;
              top: 50%;
            }

  %slide
    .slide-content
      .middle.tac
        %h2.h3.mbf
          <em>Positioning</em> and <em>layout</em> are constant struggles with
          %b modular CSS.

  %slide
    .slide-content
      .middle.tac
        %h1.mbf Classes

  %slide.slide--error
    .slide-content
      .middle.tac
        %h2.h3.mbf
          IDs are <em>too specific</em>, and they'll cause you headaches.

  %slide.slide--success
    .slide-content
      .middle.tac
        %h2.h3.mbf
          Classes <em>flatten</em> the specificity.

  %slide
    .slide-content
      .middle.tac
        %h1.mbf Establish Naming Conventions

  %slide
    .slide-content
      .middle.tac
        %h2.h3 camelCase &amp; Hyphens
        %ul.lr.tsl
          %li
            %code .list
          %li
            %code .tabList
          %li
            %code .list-item
          %li
            %code .tabList-item

  %slide
    .slide-content
      .middle.tac
        %h2.h1 Modifiers

  %slide
    .slide-content
      .middle.tac
        %h2.h3
          A modifier is an <em>alternate</em> set of styling on a module.

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .btn {
              background: blue;
              color: white;
              display: inline-block;
              line-height: 2.5;
              padding: 0 1em;
            }

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .btn--b {
              background: yellow;
              color: black;
            }

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('html') do
          :plain
            <a href="#" class="btn">Button</a>
            <a href="#" class="btn btn--b">Button B</a>

  %slide
    .slide-content
      .middle.tac
        %h2.h1 States

  %slide
    .slide-content
      .middle.tac
        %h3.mbf
          Hooks added conditionally
          %b via JavaScript.

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .dropdown {
              display: none;
            }

            .dropdown.is-active {
              display: block;
            }

  %slide
    .slide-content
      .middle.tac
        %h2.h1 Context

  %slide
    .slide-content
      .middle.tac
        %h3.h2.mbf
          Prevents modules affecting one another.

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('css') do
          :plain
            .has-dropdown {
              position: relative;
            }

  %slide.slide--light
    .slide-content
      .middle.middle--auto.tsl
        - code('html') do
          :plain
            <div class="container has-dropdown">
              <div class="dropdown">
                <!-- ... -->
              </div>
            </div>

