%slides

  %slide
    .slide-content
      .bottom
        %h1.mbf
          Thinking
          %b Modular CSS
        %p.mbf by Drew Barontini

  %slide
    .slide-content
      .middle.tac
        %h1.h4
          Learn the "why" of modular CSS by analyzing the decisions that craft
          a flexible CSS architecture.

  %slide
    .slide-content
      .middle.tac
        %h1.h2 I'm Drew Barontini.

  %slide.slide--light
    .slide-content
      .middle.tac
        = image_tag 'me-v1.svg', alt: 'Drew Barontini Cartoon'

  %slide.slide--fade(img="#{image_path('intro-office.jpg')}")
    .slide-content
      .middle.tac
        %p.mbf.tfl.ttu Front-end Developer
        %h1.h2.mbf Code School

  %slide.slide--contain(img="#{image_path('intro-cs.png')}")

  %slide
    .slide-content
      .middle.tac
        %p.mbf.tsxl
          %strong Code School
          is an online platform for teaching web technologies.

  %slide.slide--fade(img="#{image_path('intro-cs-courses.png')}")
    .slide-content
      .middle.tac
        %h1.h3 Ruby, iOS, Design, JavaScript, Ember, Node, Angular, Dart

  %slide
    .slide-content
      .middle.tac
        %h1 Responsibilities

  %slide
    .slide-content
      .middle
        %ul.mbf.tsxl
          %li Front-end for the .com
          %li Our course engine
          %li Buildout of individual courses

  %slide
    .slide-content
      .middle.tac
        %h1 The Journey

  %slide.slide--contain.slide--dark(img="#{image_path('journey-band.jpg')}")

  %slide.slide--fade.slide--fade--light(img="#{image_path('journey-jt.png')}")
    .slide-content
      .middle.tac
        %h1 MySpace?

  %slide.slide--contain.slide--light(img="#{image_path('journey-tshirt.png')}")

  %slide.slide--fade.slide--fade--dark(img="#{image_path('journey-cs.jpg')}")
    .slide-content
      .middle.tac
        %h1 Computer Science

  %slide.slide--success
    .slide-content
      .middle.tac
        %h1 Front-end Development

  %slide
    .slide-content
      .middle.tac
        %h2 It's a specialization.

  %slide(img="#{image_path('what-jesse.gif')}")

  %slide
    .slide-content
      .middle.tac
        %h1.h3 Front-end Developer &amp; Designer

  %slide
    .slide-content
      .middle.tac
        %h1.h3
          Front-end Developer
          %span.tds &amp; Designer

  %slide.slide--warning
    .slide-content
      .middle.tac
        %h1.h3.mbf Developers Respect Our CSS
        %p.mbf.tsl (mostly)

  %slide.slide--success
    .slide-content
      .middle.tac
        %h1.h3.mbf
          HTML/CSS are easy to write,
          %b but hard to write well.

  %slide
    .slide-content
      .middle.tac
        %h1.h3.mbf
          We're building complex
          %b systems now.

  %slide
    .slide-content
      .middle.tac
        %h1.h3.mbf
          Markup and styles
          %b working in unison.

  %slide
    .slide-content
      .middle.tac
        %h1.h3.mbf
          Ability for styles to flex and work in different environments.

  %slide.slide--dark
    .slide-content
      .middle.tac
        %h1.h2 Define "Modular CSS"
