%slides

  %slide
    .slide-content
      .bottom
        %h1.mbf
          Thinking
          %b Modular CSS
        %p.mbf by Drew Barontini

  %slide
    .slide-content
      .middle
        %p.tsl
          Learn the "why" of modular CSS by analyzing the decisions that craft
          a flexible CSS architecture.

  %slide.slide--light
    .slide-content
      .middle
        .bucket.bucket--flag
          .bucket-media
            = image_tag 'me-v1.svg', alt: 'Drew Barontini Cartoon'
          .bucket-content
            %h1.h3.mbf Drew Barontini
            %p.tcs @drewbarontini

  %slide.slide--fade(img="#{image_path('intro-office.jpg')}")
    .slide-content
      .bottom
        %p.mbf.ttu Front-end Developer @
        %h2 Code School

  %slide.slide--fade(img="#{image_path('intro-epcot.jpg')}")
    .slide-content
      .middle.tac
        %h1.mbf Events
        %p.tsl Epcot Food &amp; Wine Festival

  %slide.slide--fade(img="#{image_path('intro-community.jpg')}")
    .slide-content
      .middle.tac
        %h1.mbf Community
        %p.tsl We love holding events in our space.

  %slide.slide--contain(img="#{image_path('intro-cs.png')}")

  %slide
    .slide-content
      .bottom
        %p.tsxl
          %strong Code School
          is an online platform for teaching web technologies.

  %slide(img="#{image_path('intro-cs-courses.png')}")

  %slide
    .slide-content
      .middle.tac
        %h1 Responsibilities

  %slide
    .slide-content
      .middle
        %ul.tsl
          %li Front-end for the .com
          %li Our course engine
          %li Oversee buildout of individual courses

  %slide
    .slide-content
      .middle.tac
        %h1 The Journey

  %slide.slide--contain.slide--dark(img="#{image_path('journey-band.jpg')}")

  %slide.slide--fade.slide--fade--light(img="#{image_path('journey-jt.png')}")
    .slide-content
      .middle.tac
        %h1 MySpace?

  %slide.slide--contain.slide--light(img="#{image_path('journey-tshirt.png')}")

  %slide.slide--fade.slide--fade--dark(img="#{image_path('journey-cs.jpg')}")
    .slide-content
      .middle.tac
        %h1 Computer Science

  %slide.slide--success
    .slide-content
      .middle.tac
        %h1 Front-end Development

  %slide
    .slide-content
      .middle.tac
        %h2 It's a specialization.

  %slide(img="#{image_path('what-jesse.gif')}")

  %slide
    .slide-content
      .middle.tac
        %h1.h3 Front-end Developer &amp; Designer

  %slide
    .slide-content
      .middle.tac
        %h1.h3
          Front-end Developer
          %span.tds &amp; Designer

  %slide
    .slide-content
      .middle.tac
        %h1.h3.mbf Developers Respect Our CSS
        %p.tsl (mostly)

